[submodule "ext/tbb"]
	path = ext/tbb
	url = https://github.com/uxlfoundation/oneTBB
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/mitsuba-renderer/zlib
[submodule "ext/c-blosc"]
	path = ext/c-blosc
	url = https://github.com/Blosc/c-blosc
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/wjakob/glfw.git
