# Copyright (c) 2012-2019 DreamWorks Animation LLC
#
# All rights reserved. This software is distributed under the
# Mozilla Public License 2.0 ( http://www.mozilla.org/MPL/2.0/ )
#
# Redistributions of source code must retain the above copyright
# and license notice and the following restrictions and disclaimer.
#
# *     Neither the name of DreamWorks Animation nor the names of
# its contributors may be used to endorse or promote products derived
# from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
# "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
# LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
# A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
# OWNER OR CONTRIBUTORS BE LIABLE FOR ANY INDIRECT, INCIDENTAL,
# SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
# LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
# IN NO EVENT SHALL THE COPYRIGHT HOLDERS' AND CONTRIBUTORS' AGGREGATE
# LIABILITY FOR ALL CLAIMS REGARDLESS OF THEIR BASIS EXCEED US$250.00.
#
# Travis yaml script to configure continous integration
#
# Author: Dan Bailey

# OpenVDB now uses Ubuntu Xenial 16.04 (so as to be able to build for H17+)
dist: xenial

language: cpp

# Linux-only for now, however Travis also supports Mac OSX
os: linux

# Enable ccache for faster re-builds
cache:
  ccache: true
  timeout: 1000
  directories:
    - $HOME/blosc
    - $HOME/cppunit
    - $HOME/builds

stages:
  - build_core
  - build_unittests_and_houdini
  - run_unittests

# Build and install all library dependencies for OpenVDB
# (build will error if this stage does not succeed)
install: bash travis/travis.run install $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER

jobs:
  include:
    # build core OpenVDB library
    - stage: build_core
      script: bash travis/travis.run extras $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run extras $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=gcc
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=header HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=4 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=3 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=yes MODE=release HOUDINI_MAJOR=17.0 COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=4 BLOSC=yes MODE=release HOUDINI_MAJOR=16.5 COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=no MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=no MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=debug HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=yes MODE=debug HOUDINI_MAJOR=none COMPILER=clang
    # build OpenVDB unit tests
    - stage: build_unittests_and_houdini
      script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=gcc
    - script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=4 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=3 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run houdini $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=yes MODE=release HOUDINI_MAJOR=17.0 COMPILER=clang
    - script: bash travis/travis.run houdini $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=4 BLOSC=yes MODE=release HOUDINI_MAJOR=16.5 COMPILER=clang
    - script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=no MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=no MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=debug HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run test $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=yes MODE=debug HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run houdini $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=yes MODE=header HOUDINI_MAJOR=17.0 COMPILER=clang
    - script: bash travis/travis.run core $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=header HOUDINI_MAJOR=none COMPILER=clang
    # run OpenVDB unit tests
    - stage: run_unittests
      script: bash travis/travis.run run $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run run $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=gcc
    - script: bash travis/travis.run run $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run run $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=4 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run run $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=3 BLOSC=yes MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run run $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=6 BLOSC=no MODE=release HOUDINI_MAJOR=none COMPILER=clang
    - script: bash travis/travis.run run $ABI $BLOSC $MODE $HOUDINI_MAJOR $COMPILER
      env: ABI=5 BLOSC=no MODE=release HOUDINI_MAJOR=none COMPILER=clang

after_failure:
    # cleanup
    - rm -r $HOME/builds/$TRAVIS_BUILD_ID
