build/*
build/
*.creator
*.includes
*.files
*.config
*.obj
*.off
__pycache__
*.pyc
*.creator.user
*.egg-info
*.so
dist
.cache
.idea
.eggs
cmake-build-debug
external
.polyscope.ini
imgui.ini
datasets/lib/external
datasets/lib/build
*.png
!docs/imgs/**/*.png
*.ply
apex/
*.zip
*.npz
!kernel.npz
*.npy
*.o
*.h5
data/lego/transforms_test.json
data/lego/transforms_train.json
data/fegr/*
data/fegr2/*
docs/_build
fvdb/include/
trash
scratch
data/output_hi.0.nvdb
data/output_mid.0.nvdb
_build
docs/build
*tmp*.py
*.whl
tests/benchmark/data
releases/
data/
!tests/data